{%extends "base.html" %} {% block content %}
<h1>Drivers</h1>
<table class="table">
  <thead>
    <tr>
      <th>username</th>
      <th>first name</th>
      <th>last name</th>
    </tr>
  </thead>
  <tbody>
    {%for driver in driver_list %}
    <tr>
      <td>
        <a href="{% url "taxi:driver-detail" driver.pk %}">
          {{ driver.username }}
        </a>
      </td>
      <td>{{ driver.first_name }}</td>
      <td>{{ driver.last_name }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="3">No drivers available.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
